{{ define "media_selector" }}
<div class="modal" id="mediaModal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Media Library</h3>
            <button onclick="closeMediaModal()" class="close-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="media-grid" id="mediaGrid">
            <!-- Media items will be loaded here -->
        </div>
    </div>
</div>
{{ end }}
