{{ template "admin_header" . }}
{{ template "media_selector" . }}

<div class="mb-8">
    <h1 class="title">Create New Page</h1>
    <a href="/admin/pages" class="btn-secondary">← Back to Pages</a>
</div>

<div class="page-container">
    <div x-inity="pages"></div>
</div>

{{ template "admin_footer" . }}