{{ template "admin_header" . }}
<h1 class="title">Delete User</h1>
<div class="confirm-delete">
    <h3>Are you sure you want to delete the user "{{.user.FirstName}} {{.user.LastName}}"?</h3>
    {{if .hasContent}}
    <div>
        <span>This user has authored posts. If you delete this user:</span>
    <ul class="my-2 ml-16 list-disc text-left">
            <li>Their posts will be preserved</li>
            <li>Their name will still appear as the author</li>
            <li>But they will no longer be able to log in or edit content</li>
        </ul>
    </div>
    {{end}}
    <p class="my-2">This action cannot be undone.</p>
    <div class="actions">
        <button onclick="deleteUser({{.user.ID}})" class="btn-danger">Delete</button>
        <a href="/admin/users" class="btn-secondary">Cancel</a>
    </div>
</div>
{{ template "admin_footer" . }}
