{{ template "admin_header" . }}
{{ template "media_selector" . }}
<div class="p-4">
    <div class="mb-8">
        <h1 class="text-4xl text-bold mb-4 text-gray-900 dark:text-gray-400">Create New Post</h1>
        <a href="/admin/posts" class="text-gray-900 dark:text-gray-400">← Back to Posts</a>
    </div>

    {{ if .error }}
        <div class="error-message">{{ .error }}</div>
    {{ end }}

    <div class="editor-container">
          <div x-inity="posts"></div>
    </div>
</div>
{{ template "admin_footer" . }}
