{{ template "admin_header" . }}
{{ template "media_selector" . }}


<div class="app-container">
    <div x-inity="settings" data-logo-url="{{.logoUrl}}">
    {{ .settings.ToJSON }}
    </div>
</div>

{{ template "admin_footer" . }}
