{{ template "admin_header" . }}

<div x-inity="media-picker">
</div>

<script>
function copyMediaTag(tag) {
    navigator.clipboard.writeText(tag).then(() => {
        alert('Markdown tag copied to clipboard!');
    }).catch(err => {
        console.error('Failed to copy text: ', err);
    });
}
</script>

{{ template "admin_footer" . }}
